<% @followings.each |following| do %>
    <li id="user-<%= following.user.id %>">
      <%= link_to gravatar_for(following.user, size: 50), following.user %>
      <span class="user"><%= link_to following.user.name, following.user %></span>
    </li>
<% end %>